@model Forum.ViewModels.ForumErrorViewModel
@{
    ViewBag.Title = "Message";
}

<div class="forum-error panel panel-primary">
    <div class="panel-heading">Message</div>
    <div class="panel-body">
        @Model.Message
    </div>
</div>
