@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Administrate board", "Board") <br />
@Html.ActionLink("Groups", "Groups") <br />
@Html.ActionLink("Users", "Users") <br />

<br />
@Html.ActionLink("Back to forums", "Index", "Home")
