@model Database.Post
@{
    ViewBag.Title = "Delete Reply";
}

<h2>@Model.Thread.Title</h2>
<h3>Delete reply</h3>
<p>
    Are you sure you want to delete your reply to this thread ?
</p>
@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("id", Model.Id)
    
    <input type="submit" class="btn btn-primary" value="Yes" />
    @Html.ActionLink("No", "Index", "Thread", new { id = Model.ThreadId }, new { @class = "btn btn-default" })
}
