@model Forum.ViewModels.CategoryViewModel
@{
    ViewBag.Title = Model.Category.Name;
}

<h2>@Model.Category.Name</h2>

@Html.Partial("_CategoryPartial", Model)

@Html.ActionLink("Back to board index", "Index", "Home")
