@model Forum.ViewModels.ForumViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Forum Index</h2>

@foreach (var category in Model.Categories.OrderBy(cat => cat.Order))
{
    <div class="panel panel-default category-list">
        <table class="table table-bordered">
            <tr>
                <th>@category.Name</th>
                <th>Threads</th>
                <th>Posts</th>
                <th>Last Post</th>
            </tr>
            @foreach (var forum in category.Forum.OrderBy(f => f.Order).Where(f => Model.PermissionManager.CanSeeForum(f)))
            {
                <tr>
                    <td>@Html.ActionLink(forum.Name, "Index", "Thread", new { id = forum.Id }, null)</td>
                    <td>@forum.Thread.Count</td>
                    <td>@forum.Thread.SelectMany(t => t.Post).Count()</td>
                    <td> </td>
                </tr>
            }
        </table>
    </div>
}
