@model Forum.ViewModels.ForumViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Forum Index</h2>

@foreach (var category in Model.Categories.OrderBy(cat => cat.Order))
{
    @Html.Partial("_CategoryPartial", new Forum.ViewModels.CategoryViewModel() 
    {
        Category = category,
        PermissionManager = Model.PermissionManager
    });
}
